<div *ngIf="showHeaderMenu" class="header-menu" [routerLink]="'/home'">
  <span class="icon-cat color-orange pointer p-mt-4 p-mb-4 font-10-em" [class.display]="display"></span>
</div>

<nav [class.display]="display">
  <ul>
    <li *ngFor="let item of menuItems">
      <i [ngClass]="item.icon" class="color-white font-24"></i>
      <a [routerLink]="'/' + item.route" routerLinkActive="active">{{item.label}}</a>
    </li>
  </ul>

  <i class="color-white icon-syringe font-30"></i>
  <a class="font-bold pointer" [routerLink]="'holi'" (click)="exit()">Porfa no escapes</a>
</nav>


