.container-dashboard {
  padding: 2rem 10%;
}

.summary {
  margin-top: 2rem;
  padding-right: 0;
}

.summary-container {
  padding: 1rem 0;
  background-color: var(--sky-blue);
}

.title-summary {
  padding: 1rem;
  color: var(--green);
  background-color: var(--ligth-yellow);
  transform: translateX(-1rem);
  width: auto;
  max-width: 60%;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: solid var(--orange);
}

.title-summary.separate-top {
  margin-top: 1rem;
}

.list-summary {
  list-style: none;
  padding: 2.5rem 10%;
}

.list-summary--item {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  color: var(--gray);
  font-size: 1.25rem;
}

.list-summary-value {
  color: var(--gray);
}
