<div [class]="main">
  <aside class="menu">
    <app-menu [display]="displayContent"></app-menu>
    <div [ngClass]="{'collapse': true,
                     'collapsed':displayContent,
                     'icon-keyboard_arrow_left':!displayContent,
                     'icon-keyboard_arrow_right':displayContent}"
         (click)="collapseMenu()"></div>
  </aside>

  <section class="content">
    <app-top-card class="top-card"></app-top-card>
    <app-breadcrumb class="breadcrumb"></app-breadcrumb>
    <div class="components">

      <router-outlet></router-outlet>

    </div>
  </section>
</div>
