<div class="header">
  <span class="color-white icon-times font-30 pointer" [routerLink]="'/home'"></span>
  <h1 class="color-white p-align-center">Datos de la mascota</h1>
</div>
<div class="wrap">
  <div class="content">
    <div class="p-justify-between p-d-flex p-align-center ">
      <div class="thumbnail">
        <div class="position-icon icon-cat pointer"></div>
      </div>
      <form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
        <div class="form">

          <span class="p-float-label ">
            <input formControlName="name" id="name_pet" type="text" pInputText>
            <label for="name_pet">Nombre de la mascota</label>
          </span>

          <div *ngIf="submitted && form.name.errors">
            <div *ngIf="form.name.errors.required" class="color-danger">Requerido</div>
          </div>

          <span class="p-float-label p-mt-4">
            <input formControlName="type" id="type_pet" type="text" pInputText>
            <label for="type_pet">Tipo de mascota</label>
          </span>


          <div *ngIf="submitted && form.type.errors">
            <div *ngIf="form.type.errors.required" class="color-danger">Requerido</div>
          </div>

          <span class="p-float-label p-mt-4">
            <input formControlName="age" id="age_pet" type="text" pInputText>
            <label for="age_pet">Edad</label>
          </span>

          <div *ngIf="submitted && form.age.errors">
            <div *ngIf="form.age.errors.required" class="color-danger">Requerido</div>
          </div>

          <span class="p-float-label p-mt-4">
            <input formControlName="size" id="size_pet" type="text" pInputText>
            <label for="size_pet">Tamaño Raza</label>
          </span>

          <div *ngIf="submitted && form.size.errors">
            <div *ngIf="form.size.errors.required" class="color-danger">Requerido</div>
          </div>

          <p-button class="p-mt-4 p-button-success" type="submit" label="Guardar"></p-button>

        </div>
      </form>

    </div>
  </div>
</div>
